
<div class="container-fluid">
   <div class="row">
      <DIV class="sizes">
         <ul>
            <p>Hello, this is an English class with which you will learn to know the vocabulary</p>
            <div class="d-flex justify-content-center">
               <audio controls>
                  <source src="assets/audio/presentation.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
               </audio>
            </div>
         </ul>
      </DIV>
   </div>
</div>

