.recta{
   width: 140px;
   height: 140px;
   border-width: 2px;
   border-color: black;
}

.blue{
   background-color: blue;
}

.gray{
   background-color: gray;
}

.green{
   background-color: green;
}

.red{
   background-color: red;
}

.white{
   background-color: white;
}

.yellow{
   background-color: yellow;
}