<div class="container-fluid">
   <div class="row d-flex justify-content-lg-center">
      <div class="card text-center py-2" style="width: 18rem;">
         <div class="d-flex justify-content-center">
            <div class="recta blue img-thumbnail"></div>
         </div>
         <div class="card-body">
            <h5 class="card-title">Blue</h5>
            <p class="card-text">/blo͞o/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/colors/blue.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <div class="d-flex justify-content-center">
            <div class="recta gray img-thumbnail"></div>
         </div>
         <div class="card-body">
            <h5 class="card-title">Gray</h5>
            <p class="card-text">/ɡrā/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/colors/gray.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <div class="d-flex justify-content-center">
            <div class="recta green img-thumbnail"></div>
         </div>
         <div class="card-body">
            <h5 class="card-title">Green</h5>
            <p class="card-text">/ɡrēn/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/colors/green.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <div class="d-flex justify-content-center">
            <div class="recta red img-thumbnail"></div>
         </div>
         <div class="card-body">
            <h5 class="card-title">Red</h5>
            <p class="card-text">/red/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/colors/red.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <div class="d-flex justify-content-center">
            <div class="recta white img-thumbnail"></div>
         </div>
         <div class="card-body">
            <h5 class="card-title">White</h5>
            <p class="card-text">/(h)wīt/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/colors/white.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <div class="d-flex justify-content-center">
            <div class="recta yellow img-thumbnail"></div>
         </div>
         <div class="card-body">
            <h5 class="card-title">Yellow</h5>
            <p class="card-text">/ˈyelō/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/colors/yellow.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>
   </div>
</div>

