<div class="container-fluid">
   <div class="row d-flex justify-content-lg-center">
      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 15rem" src="assets/img/animals/bird.jpg" class="card-img-top rounded mx-auto d-block" alt="bird">
         <div class="card-body">
            <h5 class="card-title">Bird</h5>
            <p class="card-text">/bərd/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/animals/bird.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 45%;" src="assets/img/animals/cat.jpeg" class="card-img-top rounded rounded mx-auto d-block" alt="cat">
         <div class="card-body">
            <h5 class="card-title">Cat</h5>
            <p class="card-text">/kat/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/animals/cat.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 15rem" src="assets/img/animals/dog.jpg" class="card-img-top rounded mx-auto d-block" alt="dog">
         <div class="card-body">
            <h5 class="card-title">Dog</h5>
            <p class="card-text">/dôɡ/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/animals/dog.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 13rem" src="assets/img/animals/eagle.jpeg" class="card-img-top rounded mx-auto d-block" alt="eagle">
         <div class="card-body">
            <h5 class="card-title">Eagle</h5>
            <p class="card-text">/ˈēɡəl/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/animals/eagle.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 12rem" src="assets/img/animals/fox.jpg" class="card-img-top rounded mx-auto d-block" alt="fox">
         <div class="card-body">
            <h5 class="card-title">Fox</h5>
            <p class="card-text">/fäks/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/animals/fox.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img src="assets/img/animals/whale.jpg" class="card-img-top rounded mx-auto d-block" alt="whale">
         <div class="card-body">
            <h5 class="card-title">whale</h5>
            <p class="card-text">/(h)wāl/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/animals/whale.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

   </div>
</div>