<div class="container-fluid">

   <div class="row flex-nowrap">
      
      <div class="bg-dark col-auto col-sm-0 col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
         <div class="bg-dark p-2">
            <a routerLink="/presentation" class="d-flex justify-content-center text-decoration-none mt-1 text-white">
               <i class="fs-5 bi bi-alphabet-uppercase"></i>
               <span routerLink="/animals" class="fs-4 d-none d-sm-inline py-3" >
                  <h3>English Class</h3>
               </span>
            </a>
            <ul class="nav flex-column nav-pills mt-4">
               <li class="nav-item py-2 py-sm-0">
                  <a routerLink="/animals" href="#" class="nav-link text-white">
                     <i class="fs-5 bi bi-feather"></i><span class="fs-4 ms-4 d-none d-sm-inline">Animals</span>
                  </a>
               </li>
               <li class="nav-item py-2 py-sm-0">
                  <a routerLink="/colors" href="#" class="nav-link text-white">
                     <i class="fs-5 bi bi-palette"></i><span class="fs-4 ms-4 d-none d-sm-inline">Colors</span>
                  </a>
               </li>
               <li class="nav-item py-2 py-sm-0">
                  <a routerLink="/fruits" href="#" class="nav-link text-white">
                     <i class="fs-5 bi bi-apple"></i><span class="fs-4 ms-4 d-none d-sm-inline">Fruits</span>
                  </a>
               </li>
               <li class="nav-item py-2 py-sm-0">
                  <a routerLink="/vowels" href="#" class="nav-link text-white">
                     <i class="fs-5 bi bi-type"></i><span class="fs-4 ms-4 d-none d-sm-inline">Vowels</span>
                  </a>
               </li>
            </ul>
         </div>
      </div>

      <!--content-->
      <div class="p-3 col-md-8 col-lg-9 d-flex justify-content-center">
         <router-outlet></router-outlet>
      </div>

   </div>

</div>