<div class="container-fluid">
   <div class="row d-flex justify-content-lg-center">
      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 10rem" src="assets/img/vowels/A.png" class="card-img-top rounded mx-auto d-block" alt="A">
         <div class="card-body">
            <h5 class="card-title">A - a</h5>
            <p class="card-text">/eɪ/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/vowels/a.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 10rem" src="assets/img/vowels/E.png" class="card-img-top rounded mx-auto d-block" alt="E">
         <div class="card-body">
            <h5 class="card-title">E - e</h5>
            <p class="card-text">/i/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/vowels/e.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 10rem" src="assets/img/vowels/I.png" class="card-img-top rounded mx-auto d-block" alt="I">
         <div class="card-body">
            <h5 class="card-title">I - i</h5>
            <p class="card-text">/aɪ/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/vowels/i.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 10rem" src="assets/img/vowels/O.png" class="card-img-top rounded mx-auto d-block" alt="O">
         <div class="card-body">
            <h5 class="card-title">O - o</h5>
            <p class="card-text">/əʊ/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/vowels/o.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 10rem" src="assets/img/vowels/U.png" class="card-img-top rounded mx-auto d-block" alt="u">
         <div class="card-body">
            <h5 class="card-title">U - u </h5>
            <p class="card-text">/ju/</p>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/vowels/u.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>

      <div class="card text-center py-2" style="width: 18rem;">
         <img style="width: 10rem" src="assets/img/vowels/Vowels.png" class="card-img-top rounded mx-auto d-block" alt="Vowels">
         <div class="card-body">
            <h5 class="card-title">Vowels</h5>
         </div>
         <ul class="list-group list-group-flush">
            <div class="d-flex justify-content-center">
               <audio style="width: 100%;" id="audio" controls>
                  <source src="assets/audio/vowels/vowels.mp3" type="audio/mp3">
                  Tu navegador no soporta la reproducción de audio.
              </audio>
            </div>
         </ul>
      </div>
   </div>
</div>
